@model BookTheShowEntity.Userv
@*//this name should be the name of projects under dependencies after adding referrences in MvcUi*@

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<html>
<head>
  
</head>
<body>



 

    <div class="bg-image" style="background-image: url(cnbc.jpg);
                              ">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">
                                <a asp-controller="Main" asp-action="Login" type="button" class="btn btn-success">Login as User</a>

                                <hr />

                                <a asp-controller="Main" asp-action="LoginAdmin" type="button" class="btn btn-primary">Login as Admin</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    </div>
 </body>
 </html>
